body {
  margin: 0;
}

.au-grid .container,
.au-grid .container-fluid {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.au-grid .container {
  box-sizing: border-box;
}

.au-grid .container-fluid {
  max-width: 1328px;
  max-width: 83rem;
}

.is-components .content,
.is-components .sidebar {
  margin-top: 5rem;

  margin-bottom: 6rem;
}

/* .au-body .component-status__title {
  padding-bottom: 1rem;
  position: relative;
  display: block;
  color: #007099;
} */

.col-dark {
  background: #135e70;
}

.au-body.au-body--dark {
  background: #135e70;
  color: #fff;
}

/* 
@media (min-width: 0) {
  .au-grid .container {
    width: -24px;
  }
}

@media (min-width: 576px) {
  .au-grid .container {
    width: 552px;
  }
}

@media (min-width: 768px) {
  .au-grid .container {
    width: 744px;
  }
}

@media (min-width: 992px) {
  .au-grid .container {
    width: 968px;
  }
}

@media (min-width: 1200px) {
  .au-grid .container {
    width: 1176px;
  }
} */

.speech-bubble {
  position: relative;
  padding: 1.5em;
  border-radius: 10px;
  box-sizing: border-box;
  background: #eaf5fa;
  box-shadow: -2px 2px 12px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2em;
  left: 42.5%;
  box-sizing: border-box;
  border: 1em solid black;
  border-color: transparent transparent #eaf5fa #eaf5fa;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -4px 4px 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 0;
}

#bubble-title {
  font-size: 1.3em;
  margin-bottom: 8px;
}

.form-header {
  font-size: 16px;
  margin-bottom: 2px;
}

.form-input {
  width: 70%;
  height: 30px;
  font-size: 16px;
  padding-left: 6px;
}

.form-input:not(:last-child) {
  margin-bottom: 15px;
}

ul.af_list {
  font-family: sans-serif;
}
.af_footer {
  display: none;
}

.icon {
  margin-bottom: -6px;
}

.au-grid .container-fluid--no-padding div[class^="col-"] {
  padding: 0 !important;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}
.mb-20 {
  margin-bottom: 5rem;
}

.au-form-group + p {
}
/* 
.au-form-group p:first-of-type {
  color: red;
  padding-bottom: 5px;
} */

.au-form-group .au-control-input:first-of-type {
  /* color: purple; */
  margin-top: 8px;
}

* + .au-progress-indicator,
.au-body * + .au-progress-indicator {
  margin-bottom: 1rem;
}
